@charset "UTF-8";

/*ホームボタン*/
.homebutton {
	width: 30px;
	height: auto;
	border-right: 1px solid rgb(192, 192, 192);
	padding-right: 10px;
	padding-left: 10px;
}

/*枠の調整*/
.box {
	width: 80vw;
	margin: 20px auto;
	border: 1px solid;
}

/*枠内下線*/
.underline {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #333;
	padding: 8px;
}
/*リスト幅*/
.list-padding {
	box-sizing: border-box;
	padding: 20px;
	margin: 0 auto;
}
/*卓番幅*/
.table {
	margin-left: 20px;
}

/* 横並び２列 */
ul {
	list-style-type: none;
	display: grid;
	width: fit-content;
	margin-left: -60px;
	grid-template-columns: repeat(2, 35vw);
	text-align: right;
}
/*リスト*/
li {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;
}
/*商品名位置*/
.item-name {
	margin-top: 10px;
}
/*トッピング名位置*/
.menu-item {
	display: flex;
	align-items: center;
}
/*トッピング名文字制限*/
.topping-name{
	width: 9em;
}
/*増減ボタン*/
.quantity-buttons {
	margin-left: 20px;
}
/*注文取り消しボタン*/
.delete {
	color: #fff;
	background-color: rgb(255, 128, 128);
}
/*一覧へ戻るボタン*/
.back {
	color: #fff;
	background-color: rgb(128, 128, 128);
}
/*変更ボタン*/
.change {
	color: #fff;
	background-color: rgb(0, 128, 0);
}
/*プラスマイナスボタン*/
.decrease-btn,
.increase-btn {
	margin-top: 10px;
	width: 30px;
	height: 30px;
	font-size: 15px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	border: 1px solid #333
}
/*非活性のプラスマイナスボタン*/
.increase-btn:disabled,
.decrease-btn:disabled {
	pointer-events: none;
	animation: none !important;
	opacity: 0.5;
	cursor: not-allowed !important;
}
/*個数*/
.quantity {
	margin: 8px;
}

/*ボタン設定*/
.form-button {
	width: 100px;
	margin-left: 20px;
	height: 35px;
	border-radius: 20px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	border: 1px solid #333
}
/*ボタン押された時沈むアニメーション*/
button:active {
	transform: translateY(1px);
}
/*注文取り消しフォーム位置*/
.form-delet {
	padding: 8px;
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
/*変更、一覧へ戻るフォーム位置*/
.form {
	padding: 16px;
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}