@charset "UTF-8";

main{
 margin:auto;
 width: 500px;
}

.logout {
 width: 100px;
 margin-right: 20px;
}

.textcenter {
  text-align: center;
}

.btn--ordermanagemant{
  color: #fff;
  background-color: rgb(0, 64, 0);
}

.btn--menumanagemant{
  color: #fff;
  background-color: rgb(0, 128, 0);
}

button {
 width: 100px;
 margin-left: 20px;
 height:35px;
 border-radius: 10px;
 box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

h5{
 margin-left: 20px;
}
